In [133]:
import pandas as pd

Assist_2017 = pd.read_csv('./assist-2017.csv')

/tmp/ipykernel_6586/4044319088.py:3: DtypeWarning: Columns (76,77) have mixed types. Specify dtype option on import or set low_memory=False.
  Assist_2017 = pd.read_csv('./assist-2017.csv')

In [2]:
Assist_2017.describe()

,studentId,MiddleSchoolId,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,AveResConf,AveResFrust,...,RES_BORED,RES_CONCENTRATING,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,MCAS,Enrolled,Selective,isSTEM
count,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,...,942816.000000,9.428160e+05,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,942816.000000,316974.000000
mean,3844.844105,2.515472,0.195155,0.109436,0.372681,869.850594,0.232949,0.658442,0.098940,0.131406,...,0.232949,6.584415e-01,0.098940,0.131406,0.172212,0.192703,-95.982302,0.641147,0.300434,0.204178
std,2250.484065,1.039785,0.116451,0.059952,0.107367,530.210725,0.030637,0.027440,0.034788,0.038875,...,0.116371,1.734275e-01,0.249505,0.300351,0.216997,0.340232,332.827628,0.479664,0.458447,0.403100
min,8.000000,1.000000,0.028057,0.007801,0.000000,2.000000,0.170871,0.403309,0.005075,0.000000,...,0.156027,8.890000e-07,0.000000,0.000000,0.000000,0.000001,-999.000000,0.000000,0.000000,0.000000
25%,1952.000000,2.000000,0.110542,0.068760,0.294989,478.000000,0.209035,0.642060,0.076385,0.107278,...,0.156027,5.117519e-01,0.000000,0.000000,0.048295,0.001483,14.000000,0.000000,0.000000,0.000000
50%,3766.000000,2.000000,0.159285,0.094513,0.345575,754.000000,0.230394,0.660669,0.096357,0.127504,...,0.156027,7.115475e-01,0.000000,0.000000,0.122595,0.005797,23.000000,1.000000,0.000000,0.000000
75%,5781.000000,4.000000,0.247704,0.137316,0.428822,1151.000000,0.252082,0.676588,0.119282,0.150582,...,0.376427,7.726099e-01,0.000000,0.009561,0.122595,0.259648,34.000000,1.000000,1.000000,0.000000
max,7783.000000,4.000000,0.752498,0.430576,0.932990,3057.000000,0.440870,0.723990,0.402483,0.543463,...,0.505313,1.000000e+00,1.000000,1.000000,1.000000,0.999377,54.000000,1.000000,1.000000,1.000000

In [4]:
Assist_2017.columns

Index(['studentId', 'MiddleSchoolId', 'InferredGender', 'SY ASSISTments Usage',
       'AveKnow', 'AveCarelessness', 'AveCorrect', 'NumActions', 'AveResBored',
       'AveResEngcon', 'AveResConf', 'AveResFrust', 'AveResOfftask',
       'AveResGaming', 'action_num', 'skill', 'problemId', 'problemType',
       'assignmentId', 'assistmentId', 'startTime', 'endTime', 'timeTaken',
       'correct', 'original', 'hint', 'hintCount', 'hintTotal', 'scaffold',
       'bottomHint', 'attemptCount', 'frIsHelpRequest', 'frPast5HelpRequest',
       'frPast8HelpRequest', 'stlHintUsed', 'past8BottomOut',
       'totalFrPercentPastWrong', 'totalFrPastWrongCount', 'frPast5WrongCount',
       'frPast8WrongCount', 'totalFrTimeOnSkill', 'timeSinceSkill',
       'frWorkingInSchool', 'totalFrAttempted', 'totalFrSkillOpportunities',
       'responseIsFillIn', 'responseIsChosen', 'endsWithScaffolding',
       'endsWithAutoScaffolding', 'frTimeTakenOnScaffolding',
       'frTotalSkillOpportunitiesScaffolding',
       'totalFrSkillOpportunitiesByScaffolding', 'frIsHelpRequestScaffolding',
       'timeGreater5Secprev2wrong', 'sumRight', 'helpAccessUnder2Sec',
       'timeGreater10SecAndNextActionRight', 'consecutiveErrorsInRow',
       'sumTime3SDWhen3RowRight', 'sumTimePerSkill',
       'totalTimeByPercentCorrectForskill', 'Prev5count', 'timeOver80',
       'manywrong', 'confidence(BORED)', 'confidence(CONCENTRATING)',
       'confidence(CONFUSED)', 'confidence(FRUSTRATED)',
       'confidence(OFF TASK)', 'confidence(GAMING)', 'RES_BORED',
       'RES_CONCENTRATING', 'RES_CONFUSED', 'RES_FRUSTRATED', 'RES_OFFTASK',
       'RES_GAMING', 'Ln-1', 'Ln', 'MCAS', 'Enrolled', 'Selective', 'isSTEM'],
      dtype='object')

In [32]:
Assist_2017['correct']

0         0
1         1
2         0
3         0
4         1
         ..
942811    1
942812    0
942813    0
942814    1
942815    1
Name: correct, Length: 942816, dtype: int64

In [125]:
import sklearn.preprocessing as skPrep

encoder = skPrep.OrdinalEncoder()
encoder.fit(Assist_2017[['studentId','skill','problemId']])
categorized_data = encoder.transform(Assist_2017[['studentId','skill','problemId']])

In [136]:
len(pd.unique(Assist_2017['skill']))

102

In [127]:
Assist_2017['studentId'] = categorized_data[:,0]
Assist_2017['skill'] = categorized_data[:,1]
Assist_2017['problemId'] = categorized_data[:,2]

In [38]:
std_num = Assist_2017['studentId'].max()
stds = [{'log_num':0,'logs':[]}]*(std_num+1)

stdId_prec = 0
for index,row in Assist_2017.iterrows() :
    log = {
            'exer_id' : row['problemId'],
            'score' : row['correct'],
            'knowledge_code' : row['skill']
            }
    stds[row['studentId']]['logs'].append(log)
    stds[row['studentId']]['log_num'] += 1

In [40]:
import json

with open( "log_data_filtered.json" , "w" ) as write:
    json.dump(stds , write )

KeyboardInterrupt:

In [109]:
import numpy as np
np.concatenate((encoder.categories_[0],encoder.categories_[1],encoder.categories_[2]))

AxisError: axis 1 is out of bounds for array of dimension 1

In [124]:
pd.unique(Assist_2017[['problemId','skill']])

ValueError: could not broadcast input array from shape (942816,2) into shape (942816,)

In [128]:
Assist_2017

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,Ln-1,Ln,MCAS,Enrolled,Selective,isSTEM
0,0.0,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.000000,0.785585,0.000264,0.13,0.06119,45,0,0,NaN
1,0.0,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.000000,0.468252,0.001483,0.06119,0.21351,45,0,0,NaN
2,0.0,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.000000,0.468252,0.001483,0.116,0.033306,45,0,0,NaN
3,0.0,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.000000,0.108417,0.010665,0.116,0.033306,45,0,0,NaN
4,0.0,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.000000,0.108417,0.010665,0.033306,0.118386,45,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942811,1708.0,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.000000,0.122595,0.000092,0.054517,0.053783,28,1,0,NaN
942812,1708.0,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.633474,0.000000,0.122595,0.002815,0.053783,0.053673,28,1,0,NaN
942813,1708.0,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.000000,0.122595,0.101184,0.053783,0.053673,28,1,0,NaN
942814,1708.0,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.000000,0.122595,0.101184,0.053783,0.053673,28,1,0,NaN
942815,1708.0,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.009561,0.122595,0.010665,0.780148,0.918159,28,1,0,NaN

In [88]:

import numpy as np
T = 500
s = Assist_2017['studentId'].value_counts()
s2 = s[s > 2*T]
b = Assist_2017[Assist_2017['studentId'].isin(s2.index)]

In [95]:
b[b['studentId'] == 64]

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,Ln-1,Ln,MCAS,Enrolled,Selective,isSTEM
2467,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.000000,0.785585,0.000264,0.081,0.057396,29,0,0,NaN
2468,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.586454,0.785585,0.000018,0.057396,0.053903,29,0,0,NaN
2469,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.000000,0.785585,0.000035,0.057396,0.053903,29,0,0,NaN
2470,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.000000,0.785585,0.000085,0.057396,0.053903,29,0,0,NaN
2471,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.000000,0.785585,0.000322,0.057396,0.053903,29,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3881,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.000000,0.122595,0.000128,0.045374,0.030348,29,0,0,NaN
3882,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.633474,0.659720,0.122595,0.005797,0.981847,0.880174,29,0,0,NaN
3883,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.009561,0.048295,0.005797,0.981847,0.880174,29,0,0,NaN
3884,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.009561,0.048295,0.005797,0.29045,0.077677,29,0,0,NaN
3885,64,4,Male,2004-2005,0.157938,0.098357,0.334038,1419,0.198394,0.670062,...,0.000000,0.009561,0.048295,0.005797,0.29045,0.077677,29,0,0,NaN

In [75]:
np.array(s2.index)

array([1483, 3609, 1079, ..., 1667, 1868, 5163])

In [72]:
s2

1483    3057.0
3609    2742.0
1079    2593.0
954     2496.0
5471    2375.0
         ...
7296       NaN
6514       NaN
1667       NaN
1868       NaN
5163       NaN
Name: studentId, Length: 1709, dtype: float64

In [76]:
s

1483    3057
3609    2742
1079    2593
954     2496
5471    2375
        ...
7296      20
6514      19
1667      12
1868      12
5163       2
Name: studentId, Length: 1709, dtype: int64